* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  position: fixed;
  background: #0c81af;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-left: 250px;
}

.left_area {
}
.left_area a {
  color: #fff;
  font-size: 18px;
}
.right_area {
}

.sidebar {
  background: rgb(194, 183, 22);
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
}
.sidebar a span {
  margin-left: 10px;
}
.sidebar a:focus,
.sidebar a:active {
  background: #000;
}
.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 30px;
  transition: all 0.3s linear;
}
.sidebar a:hover {
  background: #000;
}

.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.sidebar_logo {
  height: 60px;
  background: #000;
  margin-bottom: 20px;
  line-height: 80px;
  padding: 0px 10px;
}
.sidebar_logo img {
  width: 160px;
}
.content {
  padding: 60px 0px 0px 270px;
}
